
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit</h1>
    <form method="POST" action="/artists/<%=artist.id%>?_method=PATCH">
        <section>
            <label for="name">Enter artist's name:</label>
            <input type="text" id="name" name="name" placeholder=<%=artist.name%>>           
        </section>
        <button>Save</button>
    </form>

</body>

</html>