<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images Index</title>
</head>
<body>
    <h1>New Artist</h1>
    <ul>
        <form action="/artists" method="post">
            <section>
                <label for="name">Enter artist's name:</label>
                <input type="text" id="name" name="name" placeholder="Name">
            </section>
            <section>
                <label for="bio">Enter the artist's bio:</label>
                <br>
                <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
            </section>
            <input type="submit" value="Add">
        </form>
        <a href="/artists">Back to Index</a>
        
    </ul>
    
</body>
</html>